.container{
    background-image: linear-gradient(90deg, #c9e9f6, #bbb6fd);
    padding :5px;
    height: 500px;

}
.slick-list{
  margin-top: 20px; 
 
}
.circlediv{
    
    border-radius:50%;
    width: 20px;
    padding: 5%;
    margin: 60px;
    height: 200px;
    
    }
.designation{
    color: #6b56e0 !important;
    font-weight: bold;

}

   img{
    transition: 1s ease;

    border: 15px solid #85ceeb;
        border-radius:50%;
        width: 250px;
        margin-top: -20px;
        margin-left: -17px;    
        cursor: url(https://images.vexels.com/media/users/3/132522/isolated/preview/a6fee9dc47772a25e75976099dbb2ecd-triangle-mouse-cursor-icon-by-vexels.png),auto;

    }

    img:hover {
        filter: opacity(0.8);
        transition: 1s ease;
         box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5);
         width: 260px !important;
      }
      h2{
          box-shadow: rgb(189, 160, 255);
          color: white;
          font-weight: bold;
      }
    
    button{
          display: none !important;
      }